# ============================================================
# 编译产物
# ============================================================
/build/
/cmake-build-*/
/out/

# ============================================================
# 运行产物
# ============================================================
/log/
/output/
/tmp/
!data/test.mp4
*.flv
*.h264
*.jpg
*.png

# ============================================================
# 旧工程残留
# ============================================================
/share/
/.vscode/
